<div class="container-fluid">
	<div class="row-fluid">
		<div class="jumbotron text-center">
		    <h1>{{title}}</h1>  
		</div>
		<div class="jumbotron text-center">
			<img src="{{getResult.link}}" alt="HTML5 icon">
			<p>{{getResult.description}}</p>
		</div>
	    <div ng-hide="isLoggedIn()"class="jumbotron text-center">
	        <p>Login or Register with:</p>
	        <a ui-sref="login" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Local Login</a>
	        <a ui-sref="signup" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> Local Signup</a>
	    </div>
	</div>
</div>

