<div class="container-fluid">
	<div class="row-fluid">
		<div class="jumbotron text-center">
		    <h1>Ufo Tracker</h1>  
		    <p>You like taking pictures of strange things that happens around us? You want to share it with your friends, family, our other UFO fans? This is website is made for you. Her you can share/edit/comment/watch pictures of strange sighthings with the UFO community!</p>
		</div>
	    <div ng-hide="isLoggedIn()" class="jumbotron text-center">
	        <p>Login or Register with:</p>
	        <a ui-sref="login" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Login</a>
	        <a ui-sref="signup" class="btn btn-default"><span class="glyphicon glyphicon-user"></span>Signup</a>
	    </div>
		<div class="jumbotron">
			<img src="{{getResult.link}}" align="middle" alt="HTML5 icon" class="center-block img-responsive">
		</div>
	</div>
</div>

