<nav class="navbar navbar-inverse" role="navigation" ng-controller="navCtrl">
	<div class="navbar-header">
		<a class="navbar-brand" ui-sref="home">UFO</a>
    </div>
    <ul class="nav navbar-nav">
        <li><a ui-sref="home">Home</a></li>
        <li><a ui-sref="search">Search</a></li>
        <li><a ui-sref="about">About</a></li>
        <li><a ui-sref="sightings">Ufo Sightings</a></li>


        <li ng-show="isLoggedIn()" role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              Profile <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a ui-sref="profile">{{ currentUser() }}</a></li>
                <li role="separator" class="divider"></li>
                <li><a ui-sref="home" ng-click="logOut()">Log Out</a></li>
            </ul>
        </li>
    </ul>
</nav>