<section>
			<h1 class="text-center">User info!</h1>			
    <div class="row">
		<tr>
			<td>Username:</td>
			<td>{{ username }}</td>
		</tr>
	<br>
		<tr>
			<td>Firstname:</td>
			<td>{{ firstName }}</td>
		</tr>
    <br>
		<tr>
			<td>Secondname:</td>
			<td>{{ lastName }}</td>
		</tr>
    <br>
		<tr>
			<td>Email:</td>
			<td>{{ email }}</td>
		</tr>
    <br>
   <!-- <tr>    <td>Birthday:</td>    <td>{{user.birthday}}</td>         </tr>
    <br>
    <tr>    <td>sex:</td>    <td>{{user.sex}}</td>         </tr>   -->
    <br><br>

		<button ng-hide="{{ readOnly }}" type="button" class="btn btn-warning" data-toggle="modal"
				data-target="#myModal">Edit user info
				</button>			
				
				</section>

</div>


<div class="container">
	<section>
		<h1 class="text-center">Your sightings</h1>
		<hr>
		<div id="ModalEditSighting" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
	    			<div class="modal-header">
	        			<button type="button" class="close" data-dismiss="modal">&times;</button>
	        			<h4 class="modal-title">Edit a Sighting!</h4>
	      			</div>
	      			<div class="modal-body">
						<form class="form-horizontal">
	 						<div class="form-group">
	 							<label class="col-sm-2 control-label">
	 							Title
	 							</label>
	 							<div class="col-sm-10">
									<input type="text" class="form-control" ng-model="sighting.title" ng-model="title">
								</div>						
		 					</div>	
							<div class="form-group">
	 							<label class="col-sm-2 control-label">
	 							Description
	 							</label>
	 							<div class="col-sm-10">
									<input type="text" class="form-control" ng-model="sighting.description">
	 							</div>
	 						</div>
							<div class="form-group">
	 							<label class="col-sm-2 control-label">
	 							Date
	 							</label>
	 							<div class="col-sm-10">
									<input type="text" class="form-control" ng-model="sighting.date">
	 							</div>
	 						</div>
							<br>
						</form>      
	      			</div>
	      			<div class="modal-footer">
			  			<button type="button" class="btn btn-info"  ng-click="editSighting(sighting)" data-dismiss="modal">Edit Sighting</button>
	        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      			</div>
		    	</div>
			</div>		
		</div>
		<div ng-repeat="sighting in sightings">
			<div class="list-group">				
				<div class="list-group-item">
			 		<h4 class="text-center lead list-group-item-heading">
			 		{{sighting.title}}
			 		</h4>
			 		<hr>
			 		<p class="text-left lead list-group-item-text">
				 		{{sighting.description}}
			 		</p>
			 		<p class="text-right list-group-item-text">
				 		{{sighting.author}}
			 		</p>
					<button ng-hide="{{ readOnly }}" type="button" class="btn btn-info" data-toggle="modal"
							data-target="#ModalEditSighting" ng-click="getSighting(sighting)">Edit
					</button>
					<button ng-hide="{{ readOnly }}" class="btn btn-danger" ng-click="deleteSighting(sighting)">Delete
					</button>
		 		</div>
			</div>
		</div>
	</section>

			<div id="myModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" ng-click="hideMap()" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Edit user information!</h4>
			      </div>
			      <div class="modal-body">
					<form class="form-horizontal">
			 			<div class="form-group">
			 				<label class="col-sm-2 control-label">
			 					First Name
			 				</label>
			 				<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="user.firstName">
			 				</div>
			 			</div>	
						<div class="form-group">
			 				<label class="col-sm-2 control-label">
			 					Second Name
			 				</label>
			 				<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="user.lastName">
			 				</div>
			 			</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">
								Email
							</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="user.email">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">
						<!--		Sex 
							</label>
							<div class="col-sm-2">
								<input type="radio"  ng-model="sexMan">Boy <br>
								<input type="radio"  ng-model="sexMan">Girl</input>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">
								Birthday
							</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="user.birthday"></input>
			 				</div>
						</div>-->
						
						<br>
			 			
					</form>      
			      </div>
			      <div class="modal-footer">
					  <button class="btn btn-info" type="button" ng-click="editProfil()"data-dismiss="modal">Edit</button>
			        <button type="button" ng-click="hideMap()" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			</div>		
		</div>
		
		
