<div class="page-header">
    <h1>Search for UFO Sightings</h1>
</div>

<div class="padded-row">
    <div angucomplete-alt id="searchSighting"
         placeholder="Search for a specific sighting"
         maxlength="50"
         pause="100"
         selected-object="selectedSighting"
         local-data=sightings
         search-fields="title"
         title-field="title"
         minlength="1"
         input-class="form-control form-control-small"
         match-class="highlight">
    </div>
</div>
<div class="result">
    <div ng-show="selectedSighting">
        <br>
        You selected <span class="bold-span">{{selectedSighting.originalObject.title}}</span> which has a sighting id <span class="bold-span">{{selectedSighting.originalObject._sightingID}}</span>
        <br>
        <a href="/#/sighting/{{selectedSighting.originalObject._sightingID}}" class="btn btn-info" role="button">View Sighting</a>
    </div>
</div>