<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header">
                <h1>Search Results</h1>
            </div>
        </div>
    </div>
</div>

<div ng-repeat="sighting in sightings">
    <div class="col-md-6">
        <div class="sightings">
            <div class="sightings-picture">
                <img src="{{sighting.url}}" class="img-responsive" alt="">
            </div>
            <div class="sightings-body">
                <h2>{{sighting.title}}</h2>
                <h6><a href="#" ng-click="viewUser(sighting.author)">Posted by {{sighting.author}}</a></h6>
                <p>{{sighting.description}}</p>
                <a href="#" ng-click="viewSighting(sighting._sightingID)">View More</a>
                <hr>
                <span class="text-left">{{sighting.submittedDate}}</span>
            </div>
        </div>
    </div>
</div>