<div class="container">
    <div class="col-md-9">
        <div class="sightings">
            <div class="sightings-body">
                <h2>{{sighting.title}}</h2>
                <div class="sightings-picture">
                <img src="{{sighting.url}}" class="img-responsive" style="width: 100%;" alt="">
            	</div>
                <h6><a href="#">Posted by {{sighting.author}}</a></h6>
                <p>{{sighting.description}}</p>
			 	<p class="text-right list-group-item-text">
				 	Sighting was seen on {{sighting.date}}
			 	</p>
			 	<p class="text-left list-group-item-text">
				 	Sighting was submitted on {{sighting.submittedDate}}
			 	</p>
	            </div>
				<div ng-controller="mapCtrl">
					<div id="map_canvas" style="width: 100%; height: 300px;"></div>
				</div>
				<hr>
				<h4 class="text-center lead">Comment Section</h4>
				<hr>
				<div class="form" ng-show="isLoggedIn()">
					<input type="text" class="form-control" placeholder="Comment" ng-model="comment">
					<button type="button" class="btn btn-default" ng-click="writeComment()">Add a comment</button>
				</div>
				<hr>
				<div ng-repeat="comment in comments">
				    <blockquote>
                        <p>{{comment.content}}</p>
                        <footer>Posted by <cite title="Source Title">{{comment.author}}</cite></footer>
                    </blockquote>
				</div>
        </div>
    </div>
</div>