body
{
  font-family: 'Oxygen', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-image: url(/images/bg1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sightings {
  background: #FFF5EE;
  border: 1px solid #EEEEEE;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.sightings-picture {
  width: 100%;
  height: 100%;
  border: 0;
}
.sightings-body {
    padding: 10px 20px 0;
    word-wrap: break-word;
}

.navbar-inverse {
    background-color: #1A1E2A;
    border-color: #1A1E2A;
}
.app-text {
    color: white;
}
blockquote {
  border: 1px solid #EEEEEE;
  padding-left: 25px;
  padding-right: 30px;
  position: relative;
  border: 1px;
  margin-bottom: 0;
}
.navbar {
  font-size:  1.5em;
}
